<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Covid - Dashboard</title>
    </head>

    <body id="page-top">

        <div id="wrapper">

            <div id="content-wrapper" class="d-flex flex-column">

                <div id="content">

                    <div class="container-fluid mt-4">

                        <div class="d-sm-flex align-items-center justify-content-center mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Covid - Dashboard</h1>
                        </div>

                        <div class="row">

                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Recuperados
                                                </div>

                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                  {{recovered}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-danger shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                    Infectados
                                                </div>

                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                  {{infected}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-dark shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                    Falecidos
                                                </div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                          {{deceased}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Última Atualização
                                                </div>

                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                  {{last_updated}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="card shadow mb-4" style="width: 98%;
                                margin-left: 0.7rem;">

                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
                                    <h6 class="m-0 font-weight-bold text-primary">Infectados por Região</h6>
                                </div>

                                <div class="card-body">

                                    <table #tableInfectedByRegion
                                          class="table table-bordered table-stripped">

                                        <thead>
                                            <tr>
                                                <th>Estado</th>
                                                <th>Quantidade</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                          <tr *ngFor="let infected of infectedByRegion;">
                                            <td>{{infected.state}}</td>
                                            <td>{{infected.count}}</td>
                                          </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xl-6 col-lg-6">

                                <div class="card shadow mb-4">

                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
                                        <h6 class="m-0 font-weight-bold text-primary">Infectados por Região</h6>
                                    </div>

                                    <div class="card-body">
                                        <div class="chart-pie pt-4 pb-2">
                                            <canvas id="chartState"></canvas>
                                        </div>
                                        <div class="text-center small" style="margin-top: 2.6rem;"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6">
                                <div class="card shadow mb-4">

                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
                                        <h6 class="m-0 font-weight-bold text-primary">Brasil</h6>
                                    </div>

                                    <div class="card-body">

                                        <div class="chart-pie pt-4 pb-2">
                                            <canvas id="chartBrasil"></canvas>
                                        </div>

                                        <div class="mt-4 text-center small">
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-success"></i> Recuperados
                                            </span>

                                            <span class="mr-2">
                                                <i class="fas fa-circle text-danger"></i> Infectados
                                            </span>

                                            <span class="mr-2">
                                                <i class="fas fa-circle text-dark"></i> Falecidos
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
